body {
  padding: 20px;
  text-align: center;
}

h2 {
  margin-top: 0;
}

.muted {
  margin-right: 10px;
}

p.well {
  width: 50%;
  margin: auto;
}

.alert {
  text-align: left;
  width: 30%;
  margin: 0 auto 40px auto;
}

.form-search {
  margin-bottom: 40px;
}

