body {
  padding: 20px;
  text-align: center;
}

h2 {
  margin-top: 0;
}

.muted {
  margin-right: 10px;
}

p.well {
  width: 50%;
  margin: auto;
}

.alert {
  text-align: left;
  width: 30%;
  margin: 0 auto 40px auto;
}

.form-search {
  margin-bottom: 40px;
}

#settings-monitor-choice label {
  /* make checkbox label bigger */
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  /* more differentiation from the stuff below it */
  margin-bottom: 25px;
  color: #666;
}

#settings-monitor-choice input, 
#settings-monitor-choice img {
  margin: 0 5px 0 0;
  /* compensate for larger label height */
  vertical-align: 0;
}

#diagnostics-link {
  font-size: 16px;
  float: right;
}
#diagnostics {
  cursor: pointer;
}
#diagnostics-area {
  margin-top: 40px;
}




